gradio
huggingface_hub
openai
langchain
langchain_community
langchain_chroma
langchain_openai
chromadb
tiktoken
pydantic
numpy
pyprojroot
ragas
sentence-transformers
huggingface-hub
datasets
pandas
numpy
scipy
scikit-learn
torch
transformers
pymupdf
langsmith
fitz
getpass

